.sectionWrapper{
    background-color: #F3F3F5;
}

.headline{
    font-size: 35px;
    font-family: 'Thunder';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.sectionContent{
    width: 93%;
   
    margin: 0 auto;
}

.selects{
    display: flex;
    flex-direction: row;
    
}